openapi: 3.1.0
info:
  title: Capital.com REST Accounts Working Orders API
  description: The Capital.com REST API provides programmatic access to the Capital.com trading engine, including positions, working orders, deal confirmations, account information, account switching, transaction history, account preferences (leverage, hedging mode), market navigation, instruments, and historical price data. Authentication uses an API key plus login credentials to create a session that returns CST and X-SECURITY-TOKEN headers, which expire after ten minutes of inactivity.
  version: v1
  contact:
    name: Capital.com API Support
    url: https://open-api.capital.com
servers:
- url: https://api-capital.backend-capital.com
  description: Capital.com production REST API server
- url: https://demo-api-capital.backend-capital.com
  description: Capital.com demo (sandbox) REST API server
security:
- apiKey: []
  sessionToken: []
  securityToken: []
tags:
- name: Working Orders
  description: Operations for managing limit and stop working orders.
paths:
  /api/v1/workingorders:
    get:
      operationId: listWorkingOrders
      summary: List Working Orders
      description: Returns all working (limit/stop) orders for the active account.
      tags:
      - Working Orders
      responses:
        '200':
          description: A list of working orders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
    post:
      operationId: createWorkingOrder
      summary: Create Working Order
      description: Creates a new working order (limit or stop).
      tags:
      - Working Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Working order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
  /api/v1/workingorders/{dealId}:
    put:
      operationId: updateWorkingOrder
      summary: Update Working Order
      description: Updates an existing working order.
      tags:
      - Working Orders
      parameters:
      - name: dealId
        in: path
        required: true
        description: The deal ID for the working order.
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: Working order updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
    delete:
      operationId: deleteWorkingOrder
      summary: Delete Working Order
      description: Cancels and deletes the specified working order.
      tags:
      - Working Orders
      parameters:
      - name: dealId
        in: path
        required: true
        description: The deal ID for the working order.
        schema:
          type: string
      responses:
        '200':
          description: Working order deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
components:
  schemas:
    GenericObject:
      type: object
      description: Generic JSON object response.
      additionalProperties: true
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-CAP-API-KEY
      description: Capital.com API key required for all calls.
    sessionToken:
      type: apiKey
      in: header
      name: CST
      description: Client session token returned after creating a session.
    securityToken:
      type: apiKey
      in: header
      name: X-SECURITY-TOKEN
      description: Security token returned after creating a session.
externalDocs:
  description: Capital.com Public API Documentation
  url: https://open-api.capital.com
x-generated-from: https://open-api.capital.com
x-generated-by: claude-crawl-2026-05-08
