openapi: 3.1.0
info:
  title: Capital.com REST Accounts History API
  description: The Capital.com REST API provides programmatic access to the Capital.com trading engine, including positions, working orders, deal confirmations, account information, account switching, transaction history, account preferences (leverage, hedging mode), market navigation, instruments, and historical price data. Authentication uses an API key plus login credentials to create a session that returns CST and X-SECURITY-TOKEN headers, which expire after ten minutes of inactivity.
  version: v1
  contact:
    name: Capital.com API Support
    url: https://open-api.capital.com
servers:
- url: https://api-capital.backend-capital.com
  description: Capital.com production REST API server
- url: https://demo-api-capital.backend-capital.com
  description: Capital.com demo (sandbox) REST API server
security:
- apiKey: []
  sessionToken: []
  securityToken: []
tags:
- name: History
  description: Account activity and transaction history.
paths:
  /api/v1/history/activity:
    get:
      operationId: getActivityHistory
      summary: Get Activity History
      description: Returns the account activity history.
      tags:
      - History
      responses:
        '200':
          description: Activity history records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
  /api/v1/history/transactions:
    get:
      operationId: getTransactionsHistory
      summary: Get Transactions History
      description: Returns the account transactions history.
      tags:
      - History
      responses:
        '200':
          description: Transactions history records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericObject'
components:
  schemas:
    GenericObject:
      type: object
      description: Generic JSON object response.
      additionalProperties: true
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-CAP-API-KEY
      description: Capital.com API key required for all calls.
    sessionToken:
      type: apiKey
      in: header
      name: CST
      description: Client session token returned after creating a session.
    securityToken:
      type: apiKey
      in: header
      name: X-SECURITY-TOKEN
      description: Security token returned after creating a session.
externalDocs:
  description: Capital.com Public API Documentation
  url: https://open-api.capital.com
x-generated-from: https://open-api.capital.com
x-generated-by: claude-crawl-2026-05-08
